<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block headTitle%}{%endblock%}
    <link rel="icon" href="{{url_for('static',filename='img/logo.png')}}" type="image/png" sizes="16x16">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/32b784676e.js" crossorigin="anonymous"></script>
    {%block bootstrap%}{%endblock%}
    <link rel="stylesheet" href="/static/css/styles.css">
    {% block stylesEspecificos %}{% endblock%}
</head>

<body>
    <header>
        <div id="menu-principal">
            <a href="{{url_for('index')}}" class="logo">
                <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo de la pagina">
                <h2 class="nombre-pagina">Samples Sound</h2>
            </a>
            <nav class="nav-bar">
                <a href="{{url_for('index')}}" class="nav-link">Inicio</a>
                <a href="{{url_for('sound')}}" class="nav-link">Sonidos</a>
                <a href="{{url_for('nosotros')}}" class="nav-link">Nosotros</a>
                <a href="{{url_for('registro')}}" class="nav-link">Registro</a>
            </nav>
            {% if current_user.id is defined %}
                {% include 'userPanel.html'%}
            {% else %}
                <div id="login">
                    <label for="hideShowLogin">Login</label>
                    {% include 'loginForm.html' %}
                </div>
            {% endif %}
        </div>
        <div id="menu-secundario" class="displayNone">
            <a href="{{url_for('index')}}" class="logo">
                <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo de la pagina">
                <h2 class="nombre-pagina">Samples Sound</h2>
            </a>
            <img id="desplegar-menu" src="{{url_for('static', filename='img/icons/abajo-en-circulo_64.png')}}">
            <div id="menu-secundario-links" class="displayNone">
                <a class="nav-link" href="{{url_for('index')}}">Inicio</a>
                <a class="nav-link" href="{{url_for('sound')}}">Sonidos</a>
                <a class="nav-link" href="{{url_for('nosotros')}}">Nosotros</a>
                <a class="nav-link" href="{{url_for('registro')}}">Registro</a>
                {% if current_user.id is defined %}
                    {% include 'userPanel.html'%}
                {% else %}
                    <div id="login">
                        <label for="hideShowLogin">Login</label>
                        {% include 'loginForm.html' %}
                    </div>
            {% endif %}
            </div>
        </div>
    </header>
    {%block main%}{%endblock%}
    <footer id="idfooter">
        <p>Derechos Reservados <i class="fa-regular fa-copyright"></i> </p>
    </footer>
    <script src="{{url_for('static',filename='js/operacionesDeMenu.js')}}"></script>
    {%block importsBody%}{%endblock%}
</body>

</html>