{% extends 'base.html'%}
{% block headTitle %}
    <title> Editar datos - Samples Web</title>
{% endblock %}
{% block stylesEspecificos %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/viewAccount.css')}}">
{% endblock %}
{% block main %}
    <main id="main">
    <form id='edit-form' name='edit-form' action='/guardarCambios' method='post' enctype='multipart/form-data' class="grid x2col">
        <!-- <label for="user-id">Id: {{usuario['id']}}</label> -->
        <input type="hidden" value="{{usuario['id']}}" name="userId">
        <label for="userName">Nombre de usuario</label>
        <input type="text" name="userName" id="userName" value="{{usuario['user_name']}}">
        <label for="userPass">Contraseña</label>
        <input type="text" name="userPass" id="userPass" value="{{usuario['user_pass']}}">
        <label for="userEmail">Correo</label>
        <input type="text" name="userEmail" id="userEmail" value="{{usuario['user_email']}}">
        <button for="edit-form" type="submit" id="save-button">Guardar cambios</button>
    </form>
    </main>
{% endblock %}