<input type="checkbox" name="hideShowLogin" id="hideShowLogin">
<form id="user-login" action="/login" enctype="multipart/form-data" method="post">
    <label for="user-name">Nombre de usuario</label>
    <input type="text" id="user-name" name="user-name" autocomplete="off">
    <label for="user-pass">Contraseña</label>
    <input type="password" name="user-pass" id="user-pass">
    <button type="submit" class="button">Iniciar sesion</button>
    <a href="{{url_for('registro')}}">Registrarse</a>
</form>