{% extends 'base.html' %}
{% block headTitle %}
    <title>Sonidos - Samples Web</title>
{% endblock %}
{% block stylesEspecificos %}
    <link rel="stylesheet" href="static/css/sound.css">
{% endblock %} 
{% block main %}
    <div class="container">
    {% for categoria in categorias %}
    <div class="item" class="{{categoria["claseCategoria"]}}">
        <div class="item-header">
            <p class="item-title">{{categoria["tituloCategoria"]}}</p>
            <p><img class="headerimg" src="{{categoria["imagenCategoria"]}}" ></p>
        </div>
        {% for hijo in categoria["hijos"] %}
        <div class="cell">
            <p class="cell-title">{{hijo["titulo"]}}</p>
            <span class="cell-img-wrapper">
                <img class="cell-img" src="{{hijo["imagen"]}}" alt="{{hijo["altimagen"]}}" onclick="showControls">
            </span>
            <audio controls="controls" class="player">
                <source src="{{hijo["sonido"]}}">
                Tu navegador no puede reproducir este archivo
            </audio>
            <a :href="cart/{{hijo["sonido"]}}"><img src="static/img/icons/agregar-carrito_60.png"></a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    </div>   
{% endblock %}