<div id="user-panel" class="flex relative">
    <div id="username-userimg-panel" class="flex centered">
        <img class="userIcon" src="static/img/icons/account_96.png">
        <span class="user-name-panel">{{ usuario }}</span>
        <label for="show-hide-userExtra"><span><img src="static\img\icons\abajo-en-circulo_64.png" alt="circulo con una flecha hacia abajo" class="arrow-down"></span></label>
    </div>
    <input type="checkbox" class="displayNone" id="show-hide-userExtra" name="show-hide-userExtra">
    <div id="userExtra" class="column absolute">
        <p id="carrito-de-compras"><a href="#">Carrito de compras</a></p>
        <p id="config-cuenta"><a href="#">Cuenta</a></p>
        <p id="logout"><img src="static/img/icons/logout-icon-white.png" alt="boton salir"></p>
    </div>
</div>